<header>
    <div class="container">
        <div><input type="text"></div>
        <div class="title-name">Sulu</div>
        <div class="icon-container">
            <div><img src="https://i.pinimg.com/originals/c3/b2/df/c3b2dff7986e701847f213423683f00a.png" alt="heart"></div>
            <div><img src="https://i.pinimg.com/originals/95/67/ba/9567bac44b90867dc730858c2c528f01.jpg" alt="bag"></div>
            <div><img src="http://cdn.onlinewebfonts.com/svg/img_243887.png" alt="account"></div>
        </div>
    </div>
</header>