{% extends "base.html" %}

{% block content %}
    <main>
      <h3 style="text-align: center;">
        Qazaq Republic Collection
      </h3>      
      {% for product in products %}
         <div class="main-container">
         <div><img id="product_image" src="{{ product.product_image.url }}" alt=""></div>
         <div>{{ product.product_name }}</div>
         <div class="price-container">
            <div>{{ product.product_price }}</div>
            <div><img id="icon" src="https://i.pinimg.com/originals/c3/b2/df/c3b2dff7986e701847f213423683f00a.png" alt="heart" height="25" width="25" style="padding-left: 40px"></div>
            <div><img id="icon" src="https://i.pinimg.com/originals/95/67/ba/9567bac44b90867dc730858c2c528f01.jpg" alt="bag" height="25" width="25" style="padding-left: 10px"></div>
         </div>
       </div>
      {% endfor %}
    </main>
{% endblock %}