@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
$width: 100%;
$body_height: 70%;
// font-family
$ff: 'Playball';
$main_text: 'Staatliches';
$border: 2px solid red;

header {

    .container {
        width: $width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: center;
        padding-left: $width / 16;


        div {
            margin: 0 10px;
            padding: 10px 0px;

            input {
                margin-top: 10px;
            }
        }

        .title-name {
            text-align: center;
            padding: 0 $width/4;
            font-family: $ff;
            font-size: 48px;
        }

        .icon-container {
            width: $width / 4;
            display: flex;
            flex-direction: row;
            
            div {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

nav {
    text-transform: uppercase;
    padding-top: 20px;

    #collection {
        color: gray;
        cursor: not-allowed;
    }

    a {
        text-decoration: none;
        color: black;
    
    }

    .container {
        display: flex;
        flex-direction: row;
        margin: 0 $width / 6;
        justify-content: space-around;
    }
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    h3 {
        text-align: center;
    }

    .main-container {
        margin: 0 10px;
        padding: 20px;
        font-size: 18px;
        font-family: $main_text;
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 300px;
        border: 1px solid black;
        border-radius: 15%;
        margin-top: 100px;
    
        div {
            text-align: center;
            margin: 5px 0;
            #product_image {
                height: 200px;
                width: 200px;
            }
        }
        .price-container {
            flex-grow: initial;
            text-align: end;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 75px;
    
            div {
                #icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    height: $body_height;
    width: $width;
    
}

footer {
    margin-top: 100px;
    color: whitesmoke;
    background-color:#161616;
    .container {
        display: flex;
        flex-direction: column;
    }
}