@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  padding-left: 6.25%;
}

header .container div {
  margin: 0 10px;
  padding: 10px 0px;
}

header .container div input {
  margin-top: 10px;
}

header .container .title-name {
  text-align: center;
  padding: 0 25%;
  font-family: "Playball";
  font-size: 48px;
}

header .container .icon-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .icon-container div img {
  width: 25px;
  height: 25px;
}

nav {
  text-transform: uppercase;
  padding-top: 20px;
}

nav #collection {
  color: gray;
  cursor: not-allowed;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 16.66667%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 70%;
  width: 100%;
}

main h3 {
  text-align: center;
}

main .main-container {
  margin: 0 10px;
  padding: 20px;
  font-size: 18px;
  font-family: "Staatliches";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15%;
  margin-top: 100px;
}

main .main-container div {
  text-align: center;
  margin: 5px 0;
}

main .main-container div #product_image {
  height: 200px;
  width: 200px;
}

main .main-container .price-container {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 75px;
}

main .main-container .price-container div #icon {
  width: 25px;
  height: 25px;
}

footer {
  margin-top: 100px;
  color: whitesmoke;
  background-color: #161616;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */